ignore_me.txt # Игнорировать файл
app/ignored/ # Игнорировать папку
*.py[cdo] # Игнорировать все файлы с расширением pyc/pyd/pyo
app/**/*.log # Игнорировать log-файлы в app- и поддиректориях
!app/main.log # ... кроме файла main.log
